{% extends 'portfolio/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ certificate.display_title }} - {% trans "Certificate Detail" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'portfolio/css/certificate_detail.css' %}">
{% endblock %}

{% block content %}
<article class="detail-page">
    <h1 class="page-title">{{ certificate.display_title }}</h1>
    
    <section class="key-info">
        <p><strong>{% trans "Field:" %}</strong> {{ certificate.display_field }}</p>
        <section class="description">
            <h2 class="section-heading">{% trans "Description" %}</h2>
            <p>{{ certificate.display_description }}</p>
        </section>
        {% if certificate.link %}
        <p><strong>{% trans "Link:" %}</strong> 
            <a href="{{ certificate.link }}" target="_blank" rel="noopener noreferrer" class="btn-link"> {%trans "Click Link" %}
        </a></p>
        {% endif %}
    </section>
    
    {% if certificate.image_url %}
    <section class="image">
        <h2 class="section-heading">{% trans "Certificate" %}</h2>
        <img src="{{ certificate.image_url }}" alt="{{ certificate.display_title }}" class="certificate-image">
    </section>
    {% endif %}
    
    {% if skills %}
    <section class="skills">
        <h2 class="section-heading">{% trans "Related Skills" %}</h2>
        <ul class="skills-list">
            {% for skill in skills %}
            <li>{{ skill.display_name }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    <a href="{% url 'portfolio:certificate_list' %}" class="btn-back">{% trans "Back to certificate list" %}</a>
    <a href="{% url 'portfolio:education' %}" class="btn-back">{% trans "Back to experience page" %}</a>
</article>

{% endblock %}

