<!-- portfolio/templates/portfolio/projects.html -->
{% extends 'portfolio/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Projects - My Portfolio" %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}">
{% endblock %}

{% block content %}
<article class="projects-page">
    <header>
        <h1 class="page-title">{% trans "My Projects" %}</h1>
        <p class="page-subtitle">
            {% trans "Explore my portfolio of public projects, including their details, related folders, and files." %}
        </p>
    </header>

    <section class="projects-grid" aria-labelledby="projects-heading">
        <h2 id="projects-heading" class="section-heading">{% trans "Projects" %}</h2>
        {% if projects %}
            <div class="grid">
                {% for project in projects %}
                    <div class="project-card">
                        <h3 class="project-card-title">{{ project.display_title }}</h3>
                        <p class="project-card-tech">{% trans "Technologies used:" %} {{project.technologies}} </p>
                        <p class="project-card-description">{{ project.display_description|truncatewords:20 }}</p>
                        <a href="{% url 'portfolio:project_detail' project.id %}" class="btn">{% trans "View Project" %}</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{% trans "No projects available at the moment." %}</p>
        {% endif %}
    </section>
</article>
{% endblock %}
