<!-- portfolio/templates/portfolio/base.html -->
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% trans "My Portfolio" %}{% endblock %}</title>

    <!-- Meta Tags for SEO -->
    <meta name="description" content="{% trans 'A showcase of my projects, education, and professional experiences. Discover my portfolio and connect with me.' %}">
    <meta name="author" content="{% trans 'Your Name' %}">

    <!-- Open Graph Meta Tags for Social Media -->
    <meta property="og:title" content="{% trans 'My Portfolio' %}">
    <meta property="og:description" content="{% trans 'A showcase of my projects, education, and professional experiences.' %}">
    <meta property="og:image" content="{% static 'portfolio/images/preview_image.jpg' %}">
    <meta property="og:url" content="https://www.yourwebsite.com">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Link to CSS stylesheets -->
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap" rel="stylesheet">
    

    {% block styles %}{% endblock %}
</head>
<body>
    <!-- Header with Navigation -->
    <header>
        <nav aria-label="{% trans 'Main Navigation' %}">
            <ul>
                <li><a href="{% url 'portfolio:home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'portfolio:education' %}">{% trans "Experiences" %}</a></li>
                <li><a href="{% url 'portfolio:projects' %}">{% trans "Projects" %}</a></li>
                <li><a href="{% url 'portfolio:contact' %}">{% trans "Contact Me" %}</a></li>
                <li><a href="{% url 'portfolio:linkedin' %}" target="_blank">{% trans "LinkedIn" %}</a></li>
                <li><a href="{% url 'portfolio:github' %}" target="_blank">{% trans "GitHub" %}</a></li>
                <li><a href="{% url 'portfolio:open_cv' %}">{% trans "Curriculum Vitae" %}</a></li>
                <li><a href="/en/">English</a></li>
                <li><a href="/it/">Italiano</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content Area -->
    <main class="container" role="main">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; {{ current_year }} {% trans "Ettore Ponzio. All Rights Reserved." %}</p>
    </footer>
</body>
</html>
