<!-- portfolio/templates/portfolio/home.html -->

{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Home - My Portfolio{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
{% endblock %}


{% block content %}
    <!-- Page Meta Description for SEO -->
    <meta name="description" content="Welcome to my portfolio. Discover my projects, skills, and professional experience.">

    <article>
        <header>
            <h1>Welcome to My Portfolio</h1>
        </header>

        <img src="{% static 'portfolio/images/profile.jpeg' %}" alt="Profile Image" class="intro-image">

        <p>This is where I showcase my projects and experience.</p>
    </article>
{% endblock %}
